{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <center>
    <h1>Bienvenue sur 3iLFlix</h1>
    <h2>Vous pouvez voir nos séries juste ici !</h2>
    <a class="btn btn-primary" href="{{ path('app_serie_index') }}">Voir</a>
    </center>
</div>
{% endblock %}
